extends ../layout 
block stylesheets 
    link(href='/css/basics/queue.css' rel='stylesheet')

block container
    section#intro
        .container
            .row
                .col-md-12
                    div.circular
                    i.fas.fa-info-circle.tips
                    canvas#canvas.queue.col-md-12(width="1000" height= "300")
                    div.methods
                        div.insert.method
                            span Enqueue
                            input.input.enqueueValue(type="text" placeholder='value' maxlength="4")
                            button.btn.btn-success.enqueueGo(type='button') Go
                        div.delete.method
                            span Dequeue
                            button.btn.btn-success.dequeueGo(type='button') Go

block javascript 
    script(src='/js/basics/queue.js')