extends layout 
block stylesheets 
    link(href='/css/home/index.css' rel='stylesheet')
block container
    section#intro
        .container
            .row
                .col-md-12
                    h1.display-1(data-spotlight='D.S. Visualization') D.S. Visualization

