@import '../modules/variables';
@import '../modules/functions';
@import '../modules/inputStyle';
@import '../modules/info';

body {
    @include background();
}
.container {
    @include flexCenter(column);
}
.index {
    margin-bottom: 50px;
}
.find {
    font-size: 30px;
    color: #fff;
}
