extends ../layout 
block stylesheets 
    link(href='/css/about/about.css' rel='stylesheet')
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
block container
    section#intro
        .container
            div.row1
                h1.title 
                    span(style='--i:1;') W
                    span(style='--i:2;') e
                    span(style='--i:3;margin-left:15px;') C
                    span(style='--i:4;') a
                    span(style='--i:5;') n
                    span(style='--i:6;margin-left:15px;') M
                    span(style='--i:7;') a
                    span(style='--i:8;') k
                    span(style='--i:9;') e
                    span(style='--i:10;margin-left:15px;') D
                    span(style='--i:11;') a
                    span(style='--i:12;') t
                    span(style='--i:13;') a
                    span(style='--i:14;margin-left:15px;') S
                    span(style='--i:15;') t
                    span(style='--i:16;') r
                    span(style='--i:17;') u
                    span(style='--i:18;') c
                    span(style='--i:19;') t
                    span(style='--i:20;') u
                    span(style='--i:21;') r
                    span(style='--i:22;') e
                    span(style='--i:23;margin-left:15px;') E
                    span(style='--i:24;') a
                    span(style='--i:25;') s
                    span(style='--i:26;') i
                    span(style='--i:27;') e
                    span(style='--i:28;') r
            div.row1
                .column
                    .imgbox
                        img(src="../img/WEN.jpg" alt="")
                    .details
                        h3 HANK
                            p 温存正Hank Wen
                        ul
                            li
                                a(href="https://www.facebook.com/profile.php?id=100009226258364" target="_blank")
                                    i.fa.fa-facebook-square(aria-hidden='true')
                            li
                                a(href="https://www.instagram.com/chao_brother/" target="_blank")
                                    i.fa.fa-instagram(aria-hidden='true')
                            li
                                a(href="https://github.com/WenHank" target="_blank")
                                    i.fa.fa-github(aria-hidden='true')
                .column
                    .imgbox
                        img(src="../img/JIM.jpg" alt="")
                    .details
                        h3 JIM
                            p 方子樽Jim Fang
                        ul
                            li
                                a(href="https://www.facebook.com/profile.php?id=100002610977006" target="_blank")
                                    i.fa.fa-facebook-square(aria-hidden='true')
                            li
                                a(href="https://www.instagram.com/jmjmjim/" target="_blank")
                                    i.fa.fa-instagram(aria-hidden='true')
                            li
                                a(href="https://github.com/FangJim" target="_blank")
                                    i.fa.fa-github(aria-hidden='true')
                .column
                    .imgbox
                        img(src="../img/LEON.jpg" alt="")
                    .details
                        h3 LEON
                            p  蔡坤霖Leon Tsai
                        ul
                            li
                                a(href="https://www.facebook.com/profile.php?id=100005816225672" target="_blank")
                                    i.fa.fa-facebook-square(aria-hidden='true')
                            li
                                a(href="https://www.instagram.com/leon45la/" target="_blank")
                                    i.fa.fa-instagram(aria-hidden='true')
                            li
                                a(href="https://github.com/LeonTsai2021" target="_blank")
                                    i.fa.fa-github(aria-hidden='true')
                .column
                    .imgbox
                        img(src="../img/WESAN.jpg" alt="")
                    .details
                        h3 WESAN
                            p 簡文勝Wesan Chien
                        ul
                            li
                                a(href="https://www.facebook.com/profile.php?id=100001434204868" target="_blank")
                                    i.fa.fa-facebook-square(aria-hidden='true')
                            li
                                a(href="https://www.instagram.com/wesan_0213/" target="_blank")
                                    i.fa.fa-instagram(aria-hidden='true')
                            li
                                a(href="https://github.com/WesanChien" target="_blank")
                                    i.fa.fa-github(aria-hidden='true')
            .row1 
                .intr
                    .text 
                        h3 網站目的
                        span 教導大家資料結構，把抽象的資料結構視覺化。 
                    .text 
                        h3 創作理念
                        span 因為資料結構是非常抽象的概念，所以我們將它視覺化讓大家更容易在操作中學習。        
                    .text 
                        h3 網站說明
                        span 教學分成四大類:Basic, Tree, Graph, Search，會員專區可以看到目前的學習狀況。


block javascript 